<div>
    <h2>Structure Directive</h2>
    <input type="button" [value]="b1" (click)="change()"/>
    <div *ngIf="flag">
        <h2>Welcome to structure direcitve code</h2>
    </div>
    <h3>Add Students Names are </h3>
    <ul>
        <li *ngFor="let obj of stdNames">{{obj}}</li>
    </ul>
    <hr/>
    SkillName:<input type="text" #sname/>
    <input type="button" value="Add SkillSet" 
    (click)="addSkillName(sname.value)"/>
    <br/>
    <ul>
        <li *ngFor="let skill of skillNames">{{skill}}</li>
    </ul>
    <br/>
    <p>
        Employee details is<br/> 
        Id is {{emp.id}}, Name is {{emp.name}} and salary is {{emp.salary}}
    </p>
</div>