<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>This is my simple mat-card example</mat-card-title>
            <mat-card-subtitle>Subtitle Message</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laboriosam, ullam corporis similique dolorem quisquam in alias earum! Ratione mollitia molestiae nihil sapiente provident labore earum maiores, quidem quo ipsam.
            {{msg}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="fun()">Click Here</button>
        </mat-card-actions>
    </mat-card>
</div>