<div>
  <!--
  <h1>Component Communication Example Parent - Child </h1>
  
  Child2 Age {{childDesg}}<br/>
  <input type="button" value="child2 function call"
  (click)="callChild2Function()"/><br/>


  <hr/>
  Child Age is {{childAge}}<br/>
  <h2>Parent Component</h2>
  Name :<input type="text" #nameRef/><br/>
  <input type="button" value="pass the name"
  (click)="passName(nameRef.value)"/><br/>
  Parent Name in parent component template is {{parentName}}
  <br/>
  <h2>Add Product Names</h2>
  Product Name :<input type="text" #productRef/><br/>
  <input type="button" value="Add Product"
  (click)="addProduct(productRef.value)"/>
  <br/>
  <hr/>
  <app-child1 [pName]="parentName" (ageEventRef)="childAge=$event"></app-child1>
  <hr/>
  <app-child2 [productNamesFromParent]="products"></app-child2>
  <hr/>
  -->
  <h2> Component communication - Sibling</h2>
  <app-child3></app-child3><br/>
  <hr/>
  <app-child4></app-child4>
</div>











