<div>
    <button>Normal Basic Buttton</button>
    <button mat-button>Basic Mat Button</button>
    <button mat-button color="primary">Primary Button</button>
    <button mat-button color="accent">Accent Button</button>
    <button mat-button color="warn">Warn Button</button>
    <button mat-button style="color:aqua">Custom Button</button>
    <hr>
    <button mat-raised-button>Raise Simple button</button>
    <button mat-raised-button color="primary">Raise Simple button</button>
    <button mat-raised-button color="warn">Raise Simple button</button>
    <button mat-raised-button color="accent">Raise Simple button</button>
    <hr>
    <button mat-stroked-button>Stroked Basic Button</button>
    <button mat-stroked-button color="primary">Stroked Basic Button</button>
    <button mat-stroked-button color="warn">Stroked Basic Button</button>
    <button mat-stroked-button color="accent">Stroked Basic Button</button>
    <hr>
    <button mat-fab>Fab</button>
    <button mat-fab style="color:white;background-color: aqua;">Fab</button>
    <button mat-fab color="primary">Fab</button>
</div>